:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../../../../assets/R.jpeg') no-repeat center center;
  background-size: cover;
}

.form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
  background-color: green;
}

button:hover {
  background-color: green;
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ddd;
  color: green;
}

h2 {
  color: green;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:disabled {
  background-color: green;
}

small {
  color: red;
  font-size: 0.9em;
}

/* Responsiveness */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
    max-width: 90%;
  }

  input {
    font-size: 14px;
    padding: 7px;
  }

  button {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .form-container {
    padding: 10px;
    max-width: 95%;
  }

  label {
    font-size: 14px;
  }

  input {
    font-size: 12px;
    padding: 6px;
  }

  button {
    font-size: 14px;
    padding: 8px;
  }
}
