<div class="container-fluid p-0">
  <!-- Header -->
  <header class="d-flex justify-content-between align-items-center py-3 px-4 shadow-sm bg-success text-white">
    <div class="d-flex flex-column align-items-center">
    <!-- Logo -->
    <div class="d-flex align-items-center">
      <img class="logo"/>
    </div>

    <!-- Navigation -->
  </div>

    <!-- Connexion/Inscription -->
    <div class="d-flex align-items-center">
      <button class="btn btn-light me-2"><a href="/auth/login" style="text-decoration: none; color:black">Se connecter</a></button>
    </div>
  </header>

  <!-- Main Banner -->
  <section class="py-5" style="background-color: #0069d9; color: white; position: relative;">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- Text -->
      <div class="text-start ms-4">
        <h1 class="mb-3 fw-bold">CAMPAGNES DE RECRUTEMENT DE</h1>
        <h2 class="fw-bold">L'UNIVERSITÉ NUMÉRIQUE CHEIKH HAMIDOU KANE</h2>
        <p class="mt-4 fs-5">
          Quelles que soient les compétences, l'expérience ou les qualifications<br />
          que vous recherchez, vous trouverez les postes adéquats.
        </p>
        <p class="fw-bold fs-5">Déposez vos candidatures</p>
      </div>
      <!-- Image -->
      <div class="flex-shrink-0" >
        <img class="femme"/>
      </div>
    </div>
  </section>

  <!-- CTA Section -->
  <section class="text-center py-4">
    <button class="btn btn-success btn-lg shadow-sm me-3"> <a href="/auth/login" style="text-decoration: none; color:black">Postuler</a></button>
    <button class="btn btn-outline-primary btn-lg shadow-sm me-3">Voir les offres</button>
    <button class="btn btn-outline-warning btn-lg shadow-sm">À propos du plateforme</button>
  </section>



</div>
